venv/
.env

__pycache__/
*.py[cod]
*$py.class

.python-version

.vscode/
.idea/
*.swp
*.swo

*.log
*.tmp
*.temp

/media/
/static/

*.db
*.sqlite3

/dist/
/build/
*.egg-info/
*.egg
.DS_Store
yatube/.DS_Store

config.yaml
config.json
secrets.ini

.ipynb_checkpoints/

/test_data/
/tests/output/

/staticfiles/
/mediafiles/

test_data.sql